name: Unit tests
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    name: Go test
    steps:
      - uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - name: Validate codegen
        run: ./scripts/ci-validate-codegen.sh
      - name: Download vendor dependencies
        run: go mod vendor
      - name: Download spec tests
        run: make get-spec-tests
      - name: Unit tests
        run: go test -v ./...
